{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}} )">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">And my journey to creating this page.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm Delphine, I come from France and have moved to Edinburgh in 2010.</p>
        <p>2017 is a year that marked a change for me. I used to think my career was the most important thing. After some issues with my mental health, I decided to focus on what made me happy to live a healthier and more fulfilled life.</p>
        <p>I spent more time travelling especially sailing around Scotland. I changed career to have a better work life balance.</p>
        <p>These blogs are about my journey, my passions and my travels. How keeping true to myself has led me to live a happier life.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}